<!-- <div class="hide">

    <div class="container">
        <div class="d-flex ajcenter flex-wrap gap-30 mt-5">
            <div class="card shadow" *ngFor="let item of this.service.data; index as i">
                <div class="card-header">
                    
                    <h4>{{item.value}}</h4>
                </div>
                <div class="card-body">
                    <div class="d-flex ">
                        <div class="flex-1">{{item.value}}</div>
                    <div>
                        <div class=" flex-1" >
                            <input type="number" name="a" class="txt form-control" id="exampleInputEmail1"
                             aria-describedby="emailHelp" (keydown)="this.service.calc(item)" [(ngModel)]="item.a" maxlength="10">
                            
                          </div>
                    </div>
                    </div>
            
                    <div class="d-flex  mt-2">
                        <div class="flex-1">{{item.types}}</div>
                        <div class="input-group flex-1">
                        <span class="input-group-text">$</span>
                        <input type="number" class="txt form-control" id="exampleInputEmail1"
                        (keydown)="this.service.calc(item)" name="b"
                         aria-describedby="emailHelp" [(ngModel)]="item.b" maxlength="10">
                      </div>
                      
                    <br> 
                    
                    </div>
                   
        
                     <div class="d-flex  mt-5">
                        <div class="flex-1">Value Calculation</div>
                        <div class="flex-1 text-end">
                           {{item.result | currency}}
                      </div>
                    </div>
            
                    <div class="d-flex  mt-2">
                        <div class="flex-1">Final Value</div>
                        <div class="flex-1 text-end">
                          
                      </div>
                    </div> 
            
                </div>
            </div>
            
        </div>
        <div>Grnad Total: {{this.service.grandTotal | currency}}</div>
    </div>
</div> -->