
<div class="bg">
   <div class="container">
    <div class="header pt-3 c-pointer" routerLink="/home">
        <img src="assets/images/logo2.png" alt="">
    </div>
    <div class="text-center pt-3" data-aos="fade-up"
    data-aos-duration="1000">
        <h1 class="head-txt">CARGILL CASE READY</h1>
        <h2>Strategic Pricing Masterclass</h2>
    </div>
   </div>
</div>
<div class="bg-pattern">
       <div class="container pt-4 pb-5" >
        <div class="slider">
            <!-- <input type="radio" name="slider" (click)="submit1()" id="slide1" checked>
            <input type="radio" name="slider" (click)="submit2()" id="slide2">
            <input type="radio" name="slider" (click)="submit3()" id="slide3"> -->
            


            <div class="cara">

                <div class="page2">
                    <div class="slide1" >
                        <div class="slide-content">
                           <!-- <div class="main-header">
                            <h3 class="mb-20" class="mb-20" data-aos="fade-left" data-aos-duration="1000">Activity 1: Identifying Value</h3>
                            <hr data-aos="fade-right" data-aos-duration="1000">
                           </div> -->
                           
                           <!-- <div data-aos="fade-up" data-aos-duration="2000">
                            <p class="hide">Given the product clues, identify value drivers for your product. You will need at least 3 value drivers & 1 negative value driver to enter your responses, but you should aim for 5 value drivers.</p> 
                            <p class="hide">Please keep in mind that any value driver you submit will need to be calculated in subsequent steps of this course.</p>
                           </div> -->
                            
                            <!-- <div class="sub-header" >
                                <h5 data-aos="fade-left" data-aos-duration="2000">Customer Facts</h5>
                            <hr data-aos="fade-right" data-aos-duration="2000">
                            </div> -->
                            

                            <!-- <div data-aos="fade-up" data-aos-duration="2000">
                                <ul >
                                    <li>Cattle count peformed 2x daily, which requires 2 hours of labor total. Cattle counter is paid $20/hour.This is done 365 days a year</li>
                                    <li>They have a monthly deadline to turn in cattle counts, or else they are fined $1,000. Late counts happen on average, 3 months each year</li>
                                    <li>About half the days, there isn't work to do for everyone, so there are about 20 hours of unaccounted work on those days</li>
                                    <li>Daily, about 20% of pens don't need food replenishment, but it's different every time. It takes about 2 hours each day to do this job </li>
                                    <li>There are about 30 extreme weather events yearly when the drone wouldn't be able to fly. They may have to pay someone overtime (4x) to come in those days & count</li>
                                    <li>Having real time data on cow health could help client catch disease early, reducing loss by .01%</li>
                                </ul>
        
                                
                                
                                <div class="d-flex justify-content-center">
                                    <div class="table1">
                                        <table>
                                            <tr>
                                                <th class="txt-white">Customer Name</th>
                                                <th class="text-center bg-wh txt-white">Supreme Pastures</th>
                                                
                                            </tr>
                        
                                            <tr>
                                                <td>Deal Term (Months)</td>
                                                <td class="text-center bg-wh">12</td>
                                                <td rowspan="7">$20/hr, <br> on average <br> $100,000</td>
                                            </tr>
                        
                                            <tr>
                                                <td>Number of Cows</td>
                                                <td class="text-center bg-wh">20,000</td>
                                            </tr>
                        
                                            <tr>
                                                <td>Number of Employees</td>
                                                <td class="text-center bg-wh">44</td>
                                            </tr>
                        
                                            <tr>
                                                <td>Number of Vet Employees</td>
                                                <td class="text-center bg-wh">2</td>
                                            </tr>
                        
                        
                                            <tr>
                                                <td>Loss Each Year Preventable Cattle Deaths</td>
                                                <td class="text-center bg-wh">2.00%</td>
                                            </tr>
                        
                                            <tr>
                                                <td>Profit Per Cow</td>
                                                <td class="text-center bg-wh">500</td>
                                            </tr>
                        
                                
                                            
                        
                                        </table>
                                    </div>
                                </div>
                            </div> -->

                            <div class="hide">
                                <div class="d-flex" data-aos="fade-up" data-aos-duration="1000">
                                    <div><p class="ins pt-2">Enter 3 value drivers as responses in the left column and identify the type from the drop-down list. Then click, Submit.</p></div>
                                    <button class="ins-btn" data-bs-toggle="modal" href="#staticBackdrop">Click to view ‘Customer Facts’</button>
                                </div>
                            </div>
                            <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
       
          <div class="d-flex justify-content-end">
          <button type="button" class="rond" data-bs-dismiss="modal" aria-label="Close">
            <img src="assets/images/close.png" alt="">
          </button>
       </div>
        <div class="modal-body">
          <div class="slide-content">
            <div class="main-header">
             <h3 class="mb-20" class="mb-20" data-aos="fade-left" data-aos-duration="1000">Activity 1: Identifying Value</h3>
             <hr data-aos="fade-right" data-aos-duration="1000">
            </div>
            
            <div data-aos="fade-up" data-aos-duration="2000">
             <p class="hide">Given the product clues, identify value drivers for your product. You will need at least 3 value drivers & 1 negative value driver to enter your responses, but you should aim for 5 value drivers.</p> 
             <p class="hide">Please keep in mind that any value driver you submit will need to be calculated in subsequent steps of this course.</p>
            </div>
             
             <div class="sub-header" >
                 <h5 data-aos="fade-left" data-aos-duration="2000">Customer Facts</h5>
             <hr data-aos="fade-right" data-aos-duration="2000">
             </div>
             
    
             <div data-aos="fade-up" data-aos-duration="2000">
                 <ul >
                     <li>Green Grocers is located in an area that makes hiring challenging & they struggle with turnover in the meat department. Meat cutting is done 5 times weekly and takes about 6 hours each time. It also has to be performed by an employee that requires special training</li>
                     <li>The butcher program takes about 10 hours each week for an assistant manager to track inventory and determine what meat needs to be ordered, cut, etc</li>
                     <li>Green Grocers estimates that they could increase sales by .02% if they could predict when products would run out and avoid items running out of stock. A major concern of managers is that they fear they lose sales due to long wait times</li>
                     <li>Shrinkage (theft/spoilage) costs the client about 6% of sales</li>
                     <li>Their current butcher program requires a significant amount of space in the backroom and cooling storage. If they utilized case ready, they could reduce their current packaging budget of $.65/lb</li>
                     <li>While not every cut is being used by Green Grocers, they do make some profits from their trimmings, which comprise about 3.3% of volume purchased & are sold at $.87/lb, on average</li>
                 </ul>
    
                 
                 
                 <div class="d-flex justify-content-center">
                     <div class="table1">
                         <table>
                             <tr>
                                 <th class="txt-white">User Input</th>
                                 <th class="text-center bg-wh txt-white">Scenario Input</th>
                                 
                             </tr>
         
                             <tr>
                                 <td>Customer Name</td>
                                 <td class="text-center bg-wh">Green Grocer</td>
                                 <!-- <td rowspan="7">$20/hr, <br> on average <br> $100,000</td> -->
                             </tr>
         
                             <tr>
                                 <td>Deal Term (Months)</td>
                                 <td class="text-center bg-wh">12</td>
                             </tr>
         
                             <tr>
                                 <td>Yearly Meat Sales</td>
                                 <td class="text-center bg-wh">53,48,709</td>
                             </tr>
         
                             <tr>
                                 <td>Meat Cutter Hourly Wage (hourly)</td>
                                 <td class="text-center bg-wh">$14.47</td>
                             </tr>
         
                       
         
                             <tr>
                                 <td>Asst. Grocery Manager Wage (hourly)</td>
                                 <td class="text-center bg-wh">$15.20</td>
                             </tr>
         
                             <tr>
                                 <td>Annual Volume of Meat Purchased</td>
                                 <td class="text-center bg-wh">30,000 lbs</td>
                             </tr>
                         </table>
                     </div>
                 </div>
             </div>
            </div>
        </div>
      </div>
    </div>
  </div>

                           <div data-aos="fade-up" data-aos-duration="1500">
                            
                            <!-- <div class="form-container shadow">
                                <div class="form ">
                                    <div>Value Driver 1</div>
                                    <div><input class="form-control" type="text" value="Labor Saving" aria-label="readonly input example" readonly></div>
                                </div>
                    
                                <div class="form ">
                                    <div>Value Driver 2</div>
                                    <div><input class="form-control" type="text" value="Accurate Cattle Count" aria-label="readonly input example" readonly></div>
                                </div>
                    
                                <div class="form ">
                                    <div>Value Driver 3</div>
                                    <div><input class="form-control" type="text" value="Early ID of Sick Cattle" aria-label="readonly input example" readonly></div>
                                </div>
                    
                                <div class="form ">
                                    <div>Value Driver 4</div>
                                    <div><input class="form-control" type="text" value="Fewer Trips to Feed Bunk" aria-label="readonly input example" readonly></div>
                                </div>
                    
                                <div class="form ">
                                    <div>Value Driver 5</div>
                                    <div><select class="form-select" aria-label="select example">
                                        <option selected>Value Driver 1</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                      </select></div>
                                </div>
                    
                                <div class="form ">
                                    <div>Value Driver 6</div>
                                    <div><select class="form-select" aria-label="select example">
                                        <option selected>Value Driver 1</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                      </select></div>
                                </div>
                    
                                <div class="form ">
                                    <div>Value Driver 7</div>
                                    <div><select class="form-select" aria-label="select example">
                                        <option selected>Value Driver 1</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                      </select></div>
                                </div>
                    
                                <div class="form ">
                                    <div>Value Driver 8</div>
                                    <div><select class="form-select" aria-label="select example">
                                        <option selected>Value Driver 1</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                      </select></div>
                                </div>
                    
                                <div class="form ">
                                    <div>Value Driver 9</div>
                                    <div><select class="form-select" aria-label="select example">
                                        <option selected>Value Driver 1</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                      </select></div>
                                </div>
                    
                                <div class="form ">
                                    <div>Negative Value Driver</div>
                                    <div><input class="form-control" type="text" value="Drone Unable to Fly in Bad Weather" aria-label="readonly input example" readonly></div>
                                </div>
                    
                    
                                <div class="submit-btn mt-4" >
                                   
                                    <label for="slide2" (click)="submit1()">Submit</label>
                                </div>
                    
                            </div> -->
                            
                            <app-table></app-table>

                        </div>
                    </div>
                </div>      
                           </div>

                <!-- <div class="page3">
                    <div class="slide2" *ngIf="slide2">
                        <div class="slide-content">

                            <div class="main-header">
                                <h3>Step 2: Calculate the Value Drivers.</h3>
                                <hr>
                               </div>

                            
                            <p class="ins">Click the thumbnail to enter the value drivers for Cattleview and submit.</p>
                           <div class="d-flex ajcenter flex-wrap gap-30">
                            <div class="card shadow" *ngFor="let item of card">
                                <div class="card-header">
                                    <h4>{{item.head}}</h4>
                                </div>
                                
                                <div class="card-body">
                                    <div class="d-flex ">
                                        <div class="flex-1">{{item.txt}}</div>
                                    <div>
                                        <div class=" flex-1">
                                            <input type="email" class="txt form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                          </div>
                                    </div>
                                    </div>
    
                                    <div class="d-flex  mt-2">
                                        <div class="flex-1">{{item.txt2}}</div>
                                        <div class="input-group flex-1">
                                        <span class="input-group-text">$</span>
                                        <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                                      </div>
                                    </div>
    
                                    <div class="d-flex  mt-5">
                                        <div class="flex-1">{{item.txt3}}</div>
                                        <div class="flex-1 text-end">
                                            numbers
                                      </div>
                                    </div>
    
                                    <div class="d-flex  mt-2">
                                        <div class="flex-1">{{item.txt4}}</div>
                                        <div class="flex-1 text-end">
                                            numbers
                                      </div>
                                    </div>
    
                                </div>
                            </div>
                            <div class="submit-btn mt-4" >
                                   
                                <label for="slide3" (click)="submit2()">Submit</label>
                            </div>
                        </div>
                        </div>
                    </div>
                </div> -->
        
               <!-- <div class="page4">
                <div class="slide3" *ngIf="slide3">
                    slide3
                    <label for="slide2" (click)="submit3()">Submit</label>
                </div>
               </div> -->


            </div>
    
            <!-- <div id="bullets">
                <label for="slide1"></label>
                <label for="slide2"></label>
                <label for="slide3"></label>
             </div> -->

        </div>
       </div>
</div>